
<nav class="navbar-dark bg-dark navbar">
    <a href="Signup" class="navbar-brand">Signup</a>
    <a href="Signin" class="navbar-brand">Signin</a>
</nav>
<div class="jumbotron">
    <div class="container">
        <h2>Welcome to Sign Up Page!</h2>
    </div>
</div>

    <div class="row justify-content-center">
    <form>
    <legend action="/" method="post">Enter Registration Information Here</legend>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text"  class="form-control" name="first_name" id="first_name" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text"  class="form-control" name="last_name" id="last_name" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password"  name="pw" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" name="cpw" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
<nav class="navbar-dark bg-dark navbar">
   <center><h3 style="color:white;text-align:center;">Thank you for Visiting </h3></center>
</nav>
